<div class="homecards">
<div class="card" style="width: 18rem;">
    <img src="../assets/samplecontact/rpcontact.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contact Us :</h5>
      <p class="card-text">Tel : 0141-2784142 <br> E-mail - example@gmail.com</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
<div class="card" style="width: 18rem;">
    <img src="../assets/samplecontact/rpcontact.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contact Us :</h5>
      <p class="card-text">Tel : 0141-2784142 <br> E-mail - example@gmail.com</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
<div class="card" style="width: 18rem;">
    <img src="../assets/samplecontact/rpcontact.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contact Us :</h5>
      <p class="card-text">Tel : 0141-2784142 <br> E-mail - example@gmail.com</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
<div class="card" style="width: 18rem;">
    <img src="../assets/samplecontact/rpcontact.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contact Us :</h5>
      <p class="card-text">Tel : 0141-2784142 <br> E-mail - example@gmail.com</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>
  